# Rust
/target
/.docker-target
/target-android

# Build artifacts
/dist
/apps/android/gradle/app/src/main/jniLibs
/apps/android/gradle/app/build
/apps/android/gradle/build
/apps/android/gradle/.gradle

# IDE / misc
*.iml
.idea/
.vscode/
*.log
local.properties

# direnv cache
/.direnv
